http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/user/<gbif_user>?limit=300&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.91 rOpenSci(rgbif/2.3.0.91)
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":300,"endOfRecords":false,"count":615,"results":[{"key":"0081583-200221144449610","doi":"10.15468/dl.x5kj6n","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"9206251"},{"type":"in","key":"COUNTRY","values":["US","MX"]},{"type":"greaterThanOrEquals","key":"YEAR","value":"1971"}]},"creator":"<gbif_user>","notificationAddresses":["<gbif_email>"],"sendNotification":false,"format":"DWCA"},"created":"2020-06-08T23:50:03.498+0000","modified":"2020-06-08T23:51:24.883+0000","eraseAfter":"2020-12-08T23:50:03.434+0000","status":"SUCCEEDED","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0081583-200221144449610.zip","size":6022800,"totalRecords":5639,"numberDatasets":103},{"key":"0076433-200221144449610","doi":"10.15468/dl.nrmm64","license":"http://creativecommons.org/licenses/by-nc/4.0/legalcode","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"TAXON_KEY","value":"7707728"},{"type":"in","key":"BASIS_OF_RECORD","values":["PRESERVED_SPECIMEN","HUMAN_OBSERVATION","OBSERVATION","MACHINE_OBSERVATION"]},{"type":"within","geometry":"MULTIPOLYGON
        (((-153.53084 59.39260, -153.52838 59.39143, -153.52789 59.39119, -153.52878
        59.38993, -153.52606 59.38833, -153.52432 59.38777, -153.52086 59.38665, -153.51950
        59.38556, -153.52106 59.38480, -153.52362 59.38473, -153.52609 59.38415, -153.52719
        59.38248, -153.52840 59.38105, -153.53172 59.38027, -153.53242 59.38010, -153.53562
        59.37682, -153.53862 59.37475, -153.54109 59.37376, -153.54387 59.37248, -153.54641
        59.37030, -153.54976 59.3[...]
